{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
<main>
<h1>Twibbon App</h1>
<p>Ini adalah situs web tempat Anda dapat menambahkan foto ke bingkai.</p>
<p>Silahkan unggah gambar, aplikasi ini akan otomatis menggabungkan unggahan gambar yang Anda pilih.</p>
<p>
<label class="uploadBtnWrap" for="thefile">
<input type="file" id="thefile" onchange="alertFilename()" multiple/>
<span class="btn">Unggah Gambar...</span>
<span id="fileName">Tidak ada file yang dipilih</span>
</label>
</p>
<p>
<button class="press press-black press-round press-ghost" onclick="generate()">Submit</button>
<button class="press press-indigo press-round press-ghost" onclick="download('')" id="download" disabled>Unduh</button>
</p>
<p><canvas id="canvas"></canvas></p>
<i class="bi bi-exclamation-triangle"></i>
</main>
<p align="center">Copyright © 2022 <a href="https://www.facebook.com/bungferry.wa">Ferry Ayunda</a></p>
<script src="apk.js"></script>
<script src="alert.js"></script>
{{!-- Feel free to remove this! --}}

{{outlet}}
