{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
<main>
<header>
<nav>
<ul>
<li><a href="#">Index</a></li>
<li><a href="#">About</a></li>
<li><a href="#">RSS</a></li>
</ul>
</nav>
</header>
<hr>
<section>
<h2 itemprop="name headline">Twibbon App</h2>
{{!-- 
<p class=meta>
<time itemprop=datePublished datetime=2014-05-08>May 08, 2014</time> &bull;
<a href="#">Lorem</a>, <a href="#">Ipsum</a>
</p>
--}}
<span itemprop=articleBody>
<p>Ini adalah situs web tempat Anda dapat menambahkan foto ke bingkai.</p>
<p>Silahkan unggah gambar, aplikasi ini akan otomatis menggabungkan unggahan gambar yang Anda pilih.</p>
</span>
</section>
<hr>
<footer>
<nav>
<ul>
<li>© 2022 <a href="#">Ferry Ayunda</a></li>
</ul>
</nav>
</footer>
</main>
{{!-- Feel free to remove this! --}}

{{outlet}}
